body{
    background-color: rgb(173, 173, 171);
    margin: auto;
    height: 100%;
    font-size: 110%;
}

label {
    font-size: 120%;
}
p {
    font-size: 110%;
    padding-top: 0;
}
legend{
    font-size: 110%;
    font-weight: bold;
}
strong {
      font-weight:bold;
      font-size:110%;
        }
a   {
color: rgb(148, 176, 49);
    }

.redText{
  color:red

}

.equipment{
    text-align: center
}    
.my-footer{
    font-size: 120%;
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 5%;
    min-width: 100%;
    color: white;
    background-color: rgb(62, 82, 91);
}
div#heading{
    padding: 5eM;
    margin: auto;
    text-align: center;
}

nav{
    font-size: 140%;
    
}
.navbar-nav > li{
margin-left:3eM;
margin-right:3eM;
}
