{{template "base" .}}

{{define "content"}}
<div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Maintenence Web Application</h1>  
                        <p style="font-size:120%;"> This Application was developed by Brian Blank 2023 
               
                    </div>
                    
                    
                </div>
            </div>

 </body> 
{{end}}