{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Virent Maintanence </title>
    <link rel="icon" type="images/x-icon" href=./static/images/wrench.png />
    <link rel="stylesheet" type="text/css" href=./static/css/style.css />
  </head>

  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(62, 82, 91);">
      <div class="container-fluid">
        <a class="navbar-brand" href=""></a>
          <img src="./static/images/logo.png" alt="Bootstrap" width="30" height="40">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <div class="navbar navbar-expand" id="navbarScroll">
                  <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/">Stage Broken</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Maintain
                      </a>
                          <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/pump-form">Pump</a></li>
                          <li><a class="dropdown-item" href="/">..Brooks MFC</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/">..Dome Valve</a></li>
                          </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/">Store Repaired</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/">Plant Install</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Query
                      </a>
                          <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Pump</a></li>
                          <li><a class="dropdown-item" href="#">..Brooks MFC</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">..Dome Valve</a></li>
                          </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/about">About</a>
                  </li>
              </div>
          </ul>
      </div>
    </nav>



    {{block "content" .}}
    
    {{end}}

 <div class="my-footer">  
  <div class="container">
    <div class="row">
        <div class="col">  <a href = "https://virent.com" >VIRENT WEBSITE</a>  <!-- this is a link formating-->
        </div> 
        <div class="col">  <a href ="https://virent.sharepoint.com/sites/vnet/SitePages/home.aspx" >VNet</a>
        </div>
        <div class="col">  <a href ="index.html" >VCS</a>
        </div>
    </div> 
  </div>
</div>

     


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  

  {{block "js" .}}
  {{end}}

  
  <script>
  let attention = Prompt();

  

  // function notifyModal(title,text,icon, confirmationButtonText){  //this is an archived example
  //   Swal.fire({
  //       title: title,
  //       html: text,
  //       icon: icon,
  //       confirmButtonText: confirmationButtonText
  //     })
  // }
  function Prompt() {
    let toast = function(c){
      const {
        msg ="",
        icon="success",
        position="center",
      }=c;

      const Toast = Swal.mixin({
        toast: true,
        title: msg,
        position: position,
        icon: icon,
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

      Toast.fire({})
    }
    
    let success = function(c){
      const{
        msg = "",
        title = "",
        footer = "",
      }=c;

      Swal.fire({
      icon: 'success',
      title: title,
      text: msg,
      footer: footer,
     })
    }

    let error = function(c){
      const{
        msg = "",
        title = "",
        footer = "",
      }=c;

      Swal.fire({
      icon: 'error',
      title: title,
      text: msg,
      footer: footer,
     })
    }

    return { 
    toast: toast,
    success: success,
    error: error,
    }
 
  }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- <script> 
// let myEl = document.getElementById("myParagraph");
// myEl.classList.add("redText");
// </script> -->

</html>
{{end}}