{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> PumpForm </title>
    <link rel="icon" type="images/x-icon" href=./static/images/wrench.png />
    <link rel="stylesheet" type="text/css" href=./static/css/style.css />
  </head>

  <body>
    <nav class="navbar" style="background-color: rgb(62, 82, 91);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./static/images/logo.png" alt="Bootstrap" width="30" height="40">
            </a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="navbar navbar-expand" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>


                </ul>
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="EquipmentID" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Query</button>
                </form>
            </div>
            </div>
    </nav>


    {{block "content" .}}
    
    {{end}}

 <div class="my-footer">  
  <div class="container">
    <div class="row">
        <div class="col">  <a href = "https://virent.com" >VIRENT WEBSITE</a>  <!-- this is a link formating-->
        </div> 
        <div class="col">  <a href ="https://virent.sharepoint.com/sites/vnet/SitePages/home.aspx" >VNet</a>
        </div>
        <div class="col">  <a href ="index.html" >VCS</a>
        </div>
    </div> 
  </div>
</div>

     


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  

  {{block "js" .}}
  {{end}}

  
  <script>
  let attention = Prompt();

  

  // function notifyModal(title,text,icon, confirmationButtonText){  //this is an archived example
  //   Swal.fire({
  //       title: title,
  //       html: text,
  //       icon: icon,
  //       confirmButtonText: confirmationButtonText
  //     })
  // }
  function Prompt() {
    let toast = function(c){
      const {
        msg ="",
        icon="success",
        position="center",
      }=c;

      const Toast = Swal.mixin({
        toast: true,
        title: msg,
        position: position,
        icon: icon,
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

      Toast.fire({})
    }
    
    let success = function(c){
      const{
        msg = "",
        title = "",
        footer = "",
      }=c;

      Swal.fire({
      icon: 'success',
      title: title,
      text: msg,
      footer: footer,
     })
    }

    let error = function(c){
      const{
        msg = "",
        title = "",
        footer = "",
      }=c;

      Swal.fire({
      icon: 'error',
      title: title,
      text: msg,
      footer: footer,
     })
    }

    return { 
    toast: toast,
    success: success,
    error: error,
    }
 
  }

</script>

<!-- <script> 
// let myEl = document.getElementById("myParagraph");
// myEl.classList.add("redText");
// </script> -->

</html>
{{end}}