{{template "base" .}}

{{define "content"}}


<div class="container">
    <div class="row justify-content-center">
        
    </div>
</div>
        
<div class="row justify-content-center align-items-center" id = homepageTitle>
     Maintanence Application
</div>

<style>
    #homepageTitle{
  height: 60vh;
  font-size: 300%;
    }
</style>



</body>
{{end}}