{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Maintenence Homepage</h1>  
            <h2>Select either: </h2>
             <p style="font-size:180%;"> Add a new piece of Equipment
            </p>
            <p style="font-size:180%;"> -or-
            </p>
            <p style="font-size:180%;"> Enter a Equipment ID To reach a maintaence form
            </p>
            
          
        </div>
        
        
    </div>
</div>
{{end}}