{{template "base" .}}

{{define "content"}}

    <div class="equipmentHeader">
      <h2>Pump Maintanence Form</h2>
    </div>
    <hr> <!--horizonal break-->
    <div class="container-fluid">
    <strong>Please enter the following information:</strong>
    <br>
    <br>
    <form name="PumpForm" id="PumpForm" action= "/pump-form" method = "post"> <!--This will post the data to the webserver when it's running (localhost)-->
      <input type="hidden" name="csrf_token" value= {{.CSRFToken}} >
      <div class="form-row">
        <div class="col-sm-3">
          <p> <label>Today's Date:</label> 
          <input
          class="form-control"
          type="date"
          name="MaintanenceDate"
          min="2023-01-01"
          max="2050-12-31"
          required />
          <span class="validity"></span>
          </p>
        </div>
        <div class="col-sm-3">
          <p> <label> EquipmentID:</label>
          <input
          type="string"
          class="form-control"
          id="EquipmentID"
          name="EquipmentID"
          required />	
           </p>
        </div>
        <div class="col-sm-3">
          <p> <label> Who are you?: </label> 
          <input
          type="string"
          class="form-control"
          id="Person"
          name="Person"
          required />
          </p>
        </div>
      </div>

      <fieldset>
        <legend>Select One or more of the following routine activities if performed:</legend>   
        <div class="form-row">
          <div class="col">
            <div class="form-check">
                <input class= "form-check-input" type="checkbox" id="CheckValveCleaned" name="CheckValveCleaned">
                <label for="CheckValveCleaned">Cleaned Check Valves</label> 
              </div> 
          </div>
          <div class="col">
            <div class="form-check">
              <input class= "form-check-input" type="checkbox" id="SealsReplaced" name="SealsReplaced">
              <label  for="SealsReplaced">Replaced Seals</label> 
            </div> 
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-check">
              <input class= "form-check-input" type="checkbox" id="PumpHeadPiston" name="PumpHeadPiston">
              <label for="PumpHeadPiston">Cleaned Pump Head and Piston</label> 
            </div> 
          </div>
          <div class="col">
            <div class="form-check">
              <input class= "form-check-input" type="checkbox" id="CheckValvesReplaced" name="CheckValvesReplaced">
              <label for="CheckValvesReplaced">New Check Valves</label> 
            </div> 
          </div>
        </div>
      </fieldset>

    <br>

    <p><strong>Enter the following Required Fields:</strong></p>
    <div class="form-row">
      <div class="col-sm-3">
        <div class= "input-group mb-4">
          <label> Time Required:</label> 
            <input
            class="form-control"
            type="string"
            name="TimeRequired"
            id="TimeRequired"
            required />
            <span class="input-group-text" id="basic-addon2">Hrs(1.5)</span>
          </div>
 
      </div>
      <div class="col-sm-3">
        <div class= "input-group mb-4">
        <label> New Efficiency:</label> 
          <input
          class="form-control"
          type="string"
          name="MeasuredEfficiency"
          id="MeasuredEfficiency"
          required />
          <span class="input-group-text" id="basic-addon2">%</span>
        </div>
        
      </div>
    </div>

    <br>

    <p><strong>Maintanence Notes:</strong></p>
    <div class= "col-lg-10">
      <textarea class="form-control" id="PumpNotes" name=PumpNotes rows="4" required data-mdb-show-counter="true" maxlength="700"></textarea>
      <label class="form-label" for="textAreaExample5">Please enter a brief summary of symptoms and any extraneous notes</label>
      </div>
    
    <br>
    <div class="container">
      <br>
      <input class="btn btn-primary" type="submit" name="SubmitButton" id= "SubmitButton" value="Submit">

      <br>
    </div>


    </form>

</body>



{{end}}

{{define "js"}}
<script>
 document.getElementById("submitButton").addEventListener("click", function(){
   //notifyModal("Submitted", "<em>You have successfully submitted the form!</em>", "success", "Done");
   attention.success({msg: "Successfully Submitted"});
})
</script>>
{{end}}