{{template "base" .}}

{{define "content"}}


<div class="row justify-content-center align-items-center" id = stageTitle>
    <h4>Stage Equipment For Maintanence</h4>
</div>

<hr>

<form action= "" method = "POST">   <!--This will post the data to the webserver when it's running (localhost)-->
    <div class="container-fluid">
        <div class="form-row">
            <div class="col-sm-3">
              <p> <label>Today's Date:</label> 
              <input
              class="form-control"
              type="date"
              name="MaintanenceDate"
              min="2023-01-01"
              max="2050-12-31"
              required />
              <span class="validity"></span>
              </p>
            </div>
            <div class="col-sm-3">
              <p> <label> EquipmentID:</label>
              <input
              type="string"
              class="form-control"
              name="EquipmentID"
              required />	
               </p>
            </div>
            <div class="col-sm-3">
              <p> <label> Who are you?: </label> 
              <input
              type="string"
              class="form-control"
              name="Person"
              required />
              </p>
            </div>
          </div>
      
          <br>
      
          <p><strong>Stage Notes:</strong></p>
          <div class= "col-lg-10">
            <textarea class="form-control" id="stageNotes" name=stageNotes rows="4" required data-mdb-show-counter="true" maxlength="700"></textarea>
            <label class="form-label" for="textAreaExample5">Enter any notes</label>
            </div>
          
          <br>
          <div class="container">
            <br>
            <button type="button" id="submitButton" class="btn btn-success">Submit</button>
            <br>
          </div>
      
    </div>

    </form>
 </body> 

 <style>
    #stageTitle{
  height: 10vh;
  font-size: 200%;
    }
</style>

{{end}}